.board-mgmt {
	.column(4);
	padding-top: 1em;
}

.board-list {
	.dark-widget();
	margin-bottom: 1em;
}

.create-board {
	.dark-widget();
	button {
		width: 100%;
	}
	form {
		padding: 1em;
	}
}

.controls {
	float: right;
	width: 48px;

	button, .btn {
		font-size: 24px;
		padding: 0.5em;
		float: right;
		background-color: lighten(@color-content-dark, 10%);

		&:hover {
			background-color: @color-main-1;
		};

		.is-active & {
			background-color: @color-main-2;
		}
	}

	i {
		display: inline-block;
	}
	i:after {
		line-height: 24px;
	}
}

.info {
	padding: 1em;
}

.board {
	margin: 0;
	border-top: 1px solid lighten(@color-content-dark, 10%);

	.clearfix();

	&:first-child {
		border-top: 0;
	}

	&:hover {
		.hovered();
		cursor: pointer;
	}

	&.is-active {
		.selected();
	}
}

.screen-mgmt {
	.column(4);
	padding-top: 1em;
}

.screen-list {
	.dark-widget();
	margin-bottom: 1em;
}

.screen-editor {
	.column(4);
	padding-top: 1em;
}

.create-screen {
	.dark-widget();
	button {
		width: 100%;
	}
	form {
		padding: 1em;
	}
}

.screen {
	margin: 0;
	padding: 1em;

	&:hover {
		.hovered();
		cursor: pointer;
	}

	&.is-active {
		.selected();
	}
}
