.board-mgmt {
	.column(3);
	padding-top: 1em;
}

.board-list {
	.dark-widget();
	margin-bottom: 1em;
}

.create-board {
	.dark-widget();
	button {
		width: 100%;
	}
	form {
		padding: 1em;
	}
}

.board {
	margin: 0;
	padding: 1em;

	&:hover {
		.hovered();
		cursor: pointer;
	}

	&.is-active {
		.selected();
	}
}

.screen-mgmt {
	.column(3);
	padding-top: 1em;
}

.screen-list {
	.dark-widget();
	margin-bottom: 1em;
}

.create-screen {
	.dark-widget();
	button {
		width: 100%;
	}
	form {
		padding: 1em;
	}
}

.screen {
	margin: 0;
	padding: 1em;

	&:hover {
		.hovered();
		cursor: pointer;
	}

	&.is-active {
		.selected();
	}
}
