body {
	font-family: @font-text;
	font-size: @font-size-base;
	color: @color-content-dark;
	background-color: @color-base-page;
}

h1,h2,h3,h4,h5,h6 {
	font-family: @font-header;
	font-weight: bold;
}

a {
	text-decoration: none;
}