header {
	background-color: @color-content-dark;
	color: @color-base-page;
	padding: 0 2em;
	height: 5em;

	h1 {
		.columnp(6);
	}

	a {
		color: @color-base-page;
	}
}

nav {
	.column(6);
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		height: 5em;
		.row(6);
		border-right: 1px solid @color-content-dark-accent;
	}

	li {
		.column-ng(2, 6);
		height: 100%;
	}

	a {
		display: inline-block;
		text-align: center;
		height: 100%;
		width: 100%;
		line-height: 5em;
		border-left: 1px solid @color-content-dark-accent;
		&:hover {
			background-color: @color-link-background;
		}
	}
}

.container {
	padding: 0 2em;
}

.ng-cloak,
[ng-cloak] {
	display: none;
}

// Navigation state
// -------------------------------

.anonymous .user-nav,
.anonymous .admin-nav,
.is-editor .admin-nav
 {
	display: none;
}

