<div class="index-view">
  <!-- LEFT COLUMN -->
	<div class="board-mgmt" ng-controller="BoardListController">
		<h2 class="title">Available wallboards <div class="controls" ng-show="canAddBoard()"><button ng-click="openNewBoardForm=true" title="Add new board"><i class="icon-plus"></i></button></div></h2>
		<div class="board-list widget ng-cloak">
			<div class="board list-item ng-cloak" ng-repeat="board in boards" ng-class="{'is-active': isActiveBoard($index)}" ng-click="setActiveBoard($index)">
				<div class="horizontal-controls">
					<a class="btn" ng-href="/view#{{board.slug}}" title="View board"><i class="icon-link"></i></a>
				</div>
				<div class="info">{{board.name}}</div>
			</div>
			<p ng-show="noBoardsAdmin()">No boards have been created, try adding one with the plus sign above.</p>
			<p ng-show="noBoardsUser()">No boards have been created, either login on the far right, or ask an administrator to create one!</p>
		</div>

		<div class="create-board widget" ng-show="openNewBoardForm">
			<form novalidate name="newBoard">
				<input type="text" ng-model="newBoard.name" placeholder="Name" required><br>
				<input type="text" ng-model="newBoard.slug" placeholder="Url slug" required><br>
				<textarea rows="4" ng-model="newBoard.desc" placeholder="Description"></textarea><br>
				<input type="number" ng-model="newBoard.duration" placeholder="Default duration" min="0">
				<button ng-click="addBoard(newBoard)" class="success">Add</button>
				<button ng-click="cancelAddBoard()" class="cancel">Cancel</button>
			</form>
		</div>
	</div>

  <!-- MIDDLE COLUMN -->
	<div class="screen-mgmt" ng-show="activeBoard &amp;&amp; user.loggedIn">

    <div><!-- FUTURE BoardController -->
  		<h2 class="title">{{activeBoard.name}} <div class="controls"><button ng-click="startEditingBoard()" title="Edit board"><i class="icon-pencil"></i></button></div></h2>
  		<div class="board-details widget" ng-hide="openEditBoardForm">
  			<div class="horizontal-controls full-row">
  				<span class="duration btn inert" title="Duration"><i class="icon-clock"></i> <span>{{activeBoard.duration || '-'}}</span></span>
  				<span class="url btn inert"><i class="icon-link"></i> <span>/view#{{activeBoard.slug}}</span></span>
  			</div>
  			<div class="info">
  				{{activeBoard.desc}}
  			</div>
        <button ng-click="notifyBoardChange()" class="full">Refresh open boards</button>
  		</div>
  		<div class="edit-board widget" ng-show="openEditBoardForm">
  			<form novalidate name="editBoard">
  				<input type="text" ng-model="activeBoardEdit.name" placeholder="Name" required><br>
  				<input type="text" ng-model="activeBoardEdit.slug" placeholder="Url slug" required><br>
  				<textarea rows="4" ng-model="activeBoardEdit.desc" placeholder="Description"></textarea><br>
  				<input type="number" ng-model="activeBoardEdit.duration" placeholder="Default duration" min="0">
  				<button ng-click="updateActiveBoard(editBoard)" class="success">Save</button>
  				<button ng-click="cancelEditBoard()" class="cancel">Cancel</button>
  			</form>
  		</div>
    </div>

    <div ng-controller="ScreenListController">
  		<h2 class="title">Screens for {{activeBoard.name}} <div class="controls"><button ng-click="addNewScreen()" title="Add new screen"><i class="icon-plus"></i></button></div></h2>
  		<div class="screen-list widget" ng-show="screens.length">
  			<div class="screen list-item ng-cloak" ng-repeat="screen in screens" ng-class="screenStateClass(screen)" ng-click="setActiveScreen($index)">
  				<span class="horizontal-controls">
  					<span class="btn rocker" ng-class="{topmost: $first}"><span class="up icon-arrow-up" title="Move screen up" ng-click="moveUp($index);$event.stopPropagation();"></span><span class="down icon-arrow-down" ng-hide="$last" title="Move screen down" ng-click="moveDown($index);$event.stopPropagation();"></span></span>
  					<span class="duration btn inert"><i class="icon-clock"></i> <span>{{screen.duration || activeBoard.duration || 30}}</span></span>
  				</span>
  				<span class="name"><span class="icon-share"></span>{{screen.name}}</span>
  			</div>
  		</div>
    </div>

    <!-- NEW SCREEN WIZARD -->
    <div class="create-screen-area" ng-show="openNewScreenForm" ng-controller="CreateScreenController">
      <h2 class="title">{{newScreen.title}}</h2>
  		<div class="create-screen widget">
  			<div class="choices" ng-hide="newScreen.type">
          <div class="list-item" ng-click="chooseScreenType('local')"><div class="info">Message</div></div>
  				<div class="list-item" ng-click="chooseScreenType('shared')" ng-show="haveSharedScreens"><div class="info">Shared</div></div>
  				<!--<div class="list-item" ng-click="chooseScreenType('html')"><div class="info">Fetch HTML</div></div>-->
          <div class="list-item" ng-click="chooseScreenType('teamcity')"><div class="info">TeamCity</div></div>
  			</div>
  			<form novalidate name="newLocalScreen" ng-show="newScreen.type=='local'">
  				<input type="text" ng-model="newLocalScreen.name" placeholder="Name" required><br>
  				<textarea placeholder="Enter some text..." rows="3" ng-model="newLocalScreen.message" required></textarea><br>
  				<input type="number" ng-model="newLocalScreen.duration" placeholder="Screen duration" min="0"><br>
          <div class="form-container">
            <input id="newLocalScreenShareable" type="checkbox" ng-model="newLocalScreen.shareable" class="css-checkbox">
            <label for="newLocalScreenShareable" class="css-label">Share this screen</label>
          </div>
  				<button ng-click="addScreen(newLocalScreen)" class="success">Add</button>
  				<button ng-click="cancelAddScreen()" class="cancel">Cancel</button>
  			</form>
        <div class="choices" ng-controller="SharedScreenController" ng-show="newScreen.type=='shared'">
          <div class="list-item" ng-repeat="ss in sharedScreens" ng-click="addSharedScreen($index)"><div class="info">{{ss.name}} ({{ss.type | humanType}})</div></div>
          <div class="list-item" ng-click="cancelAddScreen()"><div class="info cancel">Cancel</div></div>
        </div>
  			<form novalidate name="newHtmlScreen" ng-show="newScreen.type=='html'">
  				<input type="text" ng-model="newHtmlScreen.name" placeholder="Name" required><br>
  				<input type="url" ng-model="newHtmlScreen.url" placeholder="URL" required><br>
  				<input type="text" ng-model="newHtmlScreen.selector" placeholder="Selector" required><br>
  				<input type="number" ng-model="newHtmlScreen.duration" placeholder="Screen duration" min="0">
  				<button ng-click="addScreen(newHtmlScreen)" class="success">Add</button>
  				<button ng-click="cancelAddScreen()" class="cancel">Cancel</button>
  			</form>
        <div class="newScreenContainer" ng-show="newScreen.type!='local' &amp;&amp; newScreen.type!='html'">
          <div class="newScreenInclude" ng-include="newScreen.url"></div>
        </div>
  		</div>
    </div>
	</div>

  <!-- RIGHT COLUMN -->
	<div class="screen-editor vertical-tools" ng-show="activeScreen &amp;&amp; user.loggedIn">
    <div class="controls">
      <button ng-click="startEditingScreen()" title="Edit screen"><i class="icon-pencil"></i></button><br>
      <button ng-click="toggleVisibleScreen()" title="Toggle screen visibility"><i ng-class="{'icon-eye': !activeScreen.disabled, 'icon-eye-blocked': activeScreen.disabled}"></i></button><br>
      <button ng-click="unlinkScreen()" title="Unlink screen from current board" ng-show="isMultiLinkedScreen()"><i class="icon-unlink"></i></button>
    </div>
		<h2 class="title" ng-show="activeScreen">{{activeScreen.name}}</h2>
		<div class="screen-details widget" ng-show="activeScreen">
			<div class="info" ng-bind-html-unsafe="activeScreen.message | nl2br" ng-show="activeScreen.message"></div>
			<div class="info" ng-show="activeScreen.url">
				{{activeScreen.url}}<br>
				{{activeScreen.selector}}
			</div>
		</div>
		<div class="edit-screen widget" ng-show="openEditScreenForm">
			<form novalidate name="editLocalScreen">
				<input type="text" ng-model="activeScreenEdit.name" placeholder="Name" required><br>
				<textarea rows="3" placeholder="Enter some text..." ng-model="activeScreenEdit.message" required></textarea><br>
				<input type="number" ng-model="activeScreenEdit.duration" placeholder="Screen duration" min="0">
        <div class="form-container">
            <input id="editScreenShareable" type="checkbox" ng-model="activeScreenEdit.shareable" class="css-checkbox">
            <label for="editScreenShareable" class="css-label">Share this screen</label>
          </div>
				<button ng-click="updateActiveScreen(editLocalScreen)" class="success">Save</button>
				<button ng-click="cancelEditScreen()" class="cancel">Cancel</button>
			</form>
		</div>
	</div>

  <!-- INSTRUCTIONS / FLOATING COLUMN -->
	<div class="instructions">
    <div class="intro" ng-hide="activeBoard || user.loggedIn">
      <h2>Welcome to Wallboardr.</h2>
      <p>
        This is a system to help you manage wallboards, typically used within an organization or team to radiate information. The system supports multiple wallboards, which are listed on the left. Click on the link icon for each board to view it.
      </p>
      <ul>
        <li>Only supports a single screen type at the moment: local message. More to come.</li>
      </ul>
    </div>
    <div class="intro" ng-hide="activeBoard || !user.loggedIn">
      <h2>Welcome {{user.name}}</h2>
      <p>
        We hope you enjoy maintaining your wallboards. On your left is the wallboard list, you can create as many wallboards as you like, and each is available at a different URL, which you can get to via the link icon with each board.
      </p>
      <p>
        Each wallboard can contain many different screens, which will show up in this space once you select a board on the left. You can add, edit and arrange your screens which will appear on your wallboard.
      </p>
    </div>
    <div class="intro" ng-show="activeBoard &amp;&amp; !activeScreen &amp;&amp; !newScreen.type">
      <h2>Working with screens</h2>
      <p>
        You can now see more information on your board, and manage its screens in the middle.
      </p>
      <p>
        If you click the pencil icon (<i class="icon-pencil"></i>) at the top of the board, you can edit the properties of your board. The save and cancel buttons can be used to commit your changes or cancel them. There is also a large orange button which says "Refresh Open Boards", which can be used to update any browsers currently viewing that board once you've made changes to its screens.
      </p>
      <p>
        Screens are listed below the board info. You can add new screens using the plus button (<i class="icon-plus"></i>). It will open a form below the screens list. Screens can be shared between boards, any screen which is currently marked as shareable will have a green share icon (<i class="icon-share"></i>) before its name in the list. If a screen is no longer shareable, but is shared between boards, it will have a while share icon.
      </p>
      <p>
        You can change the order of the boards by clicking on the blue up (<i class="icon-arrow-up"></i>) and down (<i class="icon-arrow-down"></i>) arrows next to the screen name. If you have created some screens, you can edit them by clicking on them in the list.
      </p>
    </div>
    <div class="intro" ng-show="activeBoard &amp;&amp; newScreen.type=='local'">
      <h2>Adding a message screen</h2>
      <p>
        Message screens are the most basic, yet most versatile of the screens available. As the name suggests, it allows you to add a message which you can then update manually as required.
      </p>
      <p>
        By default messages will be displayed as big as possible on the screen given the amount of text to display.
      </p>
      <p>
        There are a couple of special messages you can create. First, you can create a list by using the * or # characters at the beginning of the line followed by a space. The * is for bullet lists, the # is for numbered lists.
      </p>
      <p>
        The other special message is a table. You can create a simple two column table by adding a | (pipe) character within each line of text. At the moment, the lists and tables don't resize automatically to fill the screen. The other thing they do is display the name of screen as a title above the message. Normal messages do not display their names.
      </p>
      <p>
        If you want to be able to share this screen with other boards, check the "Share this screen" option.
      </p>
    </div>
    <div class="intro" ng-show="activeBoard &amp;&amp; newScreen.type=='shared'">
      <h2>Adding a shared screen</h2>
      <p>
        A shared screen is simply one that belongs to another board, but which has been marked as shareable. If you update the screen, the change will be reflected on all boards it shows up on.
      </p>
      <p>
        If there are no shareable screens available which aren't already part of the current board, this option won't show up.
      </p>
    </div>
    <div class="intro" ng-show="activeBoard &amp;&amp; newScreen.type=='html'">
      <h2>Adding an HTML screen</h2>
      <p>
        HTML screens are not fully implemented from a display perspective. They are intended to be used to grab snippets of HTML from other sites/servers to display on the wallboard. However determining how best to display that information is the challenge. Best to avoid for now.
      </p>
    </div>
    <div class="intro" ng-show="activeBoard &amp;&amp; newScreen.type=='teamcity'">
      <h2>Adding a TeamCity screen</h2>
      <p>
        TeamCity screens are not fully implemented yet, it would be best to avoid them for now. Eventually they will allow you to choose a set of teamcity configurations to monitor for pass/fail status.
      </p>
    </div>
    <div class="intro" ng-show="activeBoard &amp;&amp; activeScreen &amp;&amp; !newScreen.type &amp;&amp; !openEditScreenForm">
      <h2>Editing a screen</h2>
      <p>
        Once you've clicked on a screen, you'll be able to see its details above. At this point, you can click on the pencil (<i class="icon-pencil"></i>) to edit the properties of the screen, it will open a form above with the usual Save and Cancel buttons.
      </p>
      <p>
        You can also click on the eye icon (<i class="icon-eye"></i>) to disable the screen. If a screen is disabled, it will appear slightly greyed and italicized in the list of screens, and the eye icon will change to (<i class="icon-eye-blocked"></i>)
      </p>
    </div>
  </div>

	<div class="login-area" ng-controller="UserController">
    <div class="widget login-box" ng-show="!$root.user.loggedIn">
      <form novalidate name="login">
        <input type="text" ng-model="loginUser.username" placeholder="Username" required>
        <input type="password" ng-model="loginUser.password" placeholder="Password" required>
        <button ng-click="signin(login)">Sign In</button>&nbsp;&nbsp;
        <span class="error" ng-show="login.serverError"><i class="icon-remove"></i> Invalid credentials</span>
        <span class="error" ng-show="login.clientError"><i class="icon-remove"></i> Both fields are required</span>
      </form>
    </div>
    <div class="user-mgmt slide-top" ng-class="{loaded: userMgmtVisible}">
      <h2 class="title">Users
        <div class="controls"><button ng-click="openUserForm({})"><i class="icon-plus"></i></button><button ng-click="closeMgmt()"><i class="icon-remove"></i></button>
      </div></h2>
      <div class="user-list widget" ng-hide="userFormOpen">
        <div class="list-item user" ng-repeat="user in users">
          <div class="info">{{user.name}}</div>
        </div>
      </div>
      <div class="new-user widget" ng-show="userFormOpen">
        <form novalidate name="userForm">
          <input type="text" ng-model="createUser.username" placeholder="Name" required><br>
          <input type="email" ng-model="createUser.email" placeholder="Email">
          <input type="password" ng-model="createUser.password" placeholder="Password">
          <button ng-click="saveUser(userForm)" class="success">Save</button>
          <button ng-click="closeUserForm()" class="cancel">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
